<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alibaba.android.bindingx.playground.weex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".DemoApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".WXActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HistoryActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".QRCodeCaptureActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait"
                >
        </activity>
        <activity android:name=".PGMainActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                >
        </activity>
    </application>

</manifest>